div{
    background-color: white;
    border: 500px;
    border-color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 72px;
    position: relative;
    top: 400px;
    padding: 50px;
    margin-left: 750px;
    margin-right: 750px;
}

h2{
    background-color: black;
    color:white;
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
}

nav{
    position: relative;
    top: -100px;
    background-color: black;
    padding: 50px;
}

button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    margin: 25px;
    position: relative;
    left: 1000px;
    right: 1000px;
}

body{
    background-image: url("black-white.gif");
}

