body{
    background-color: black;
}

#text-contain{
    /* display: flex;
    flex-direction: column; */
    width: 80vw;
}

.bold-italic{
    font-family: 'Crimson Text', serif;
    font-size: 54px;
    padding: 3vw;
    padding-left:5.5vw;
    font-style: italic;
}

#line-1{
    color: white;
    position: relative;
}

#word2{
    color: #DFDFDF;
    font-size: 52px;
    position: relative;
    left: 3vw;
}

#word3{
    color:#BFBFBF;
    font-size: 50px;
    position: relative;
    left: 8vw;
}

#word4{
    color:#9F9F9F;
    font-size: 48px;
    position: relative;
    left: 11vw;
}


#word5{
    color:#8F8F8F;
    font-size: 46px;
    position: relative;
    left: 13vw;
}


#word6{
    color:#7F7F7F;
    font-size: 44px;
    position: relative;
    left: 15vw;
}

#word7{
    color:#6F6F6F;
    font-size: 62px;
    position: relative;
    left: 17vw;
    text-decoration: underline;
}

#link1{
    color: darkred;
}

#link1:hover{
    color: #6F6F6F;
}
#link1:visited{
    color: white;
}

#word8{
    color:#5F5F5F;
    font-size: 40px;
    position: relative;
    left: 19vw;
}

#word9{
    color:#4F4F4F;
    font-size: 38px;
    position: relative;
    left: 21vw;
}

#word10{
    color:#3F3F3F;
    font-size: 36px;
    position: relative;
    left: 22.5vw;
}

.animated-1{
    animation-name: fadein;
    animation-duration: 5s;
}

.animated-1-2{
    animation-name: fadein;
    animation-duration: 10s;
    /* animation-delay: 1.5s; */
}

.animated-1-3{
    animation-name: fadein;
    animation-duration: 15s;
    /* animation-delay: 2s; */
}

.animated-1-4{
    animation-name: fadein;
    animation-duration: 20s;
    /* animation-delay: 2.5s; */
}

.animated-1-5{
    animation-name: fadein;
    animation-duration: 25s;
    /* animation-delay: 3s; */
}

.animated-1-6{
    animation-name: fadein;
    animation-duration: 30s;
    /* animation-delay: 3.5s; */
}

.animated-1-7{
    transition: color;
    animation-name: fadein;
    animation-duration: 35s;
    /* animation-delay: 4s; */
}

.animated-1-8{
    animation-name: fadein;
    animation-duration: 40s;
    /* animation-delay: 4.5s; */
}

.animated-1-9{
    animation-name: fadein;
    animation-duration: 45s;
    /* animation-delay: 5s; */
}

.animated-1-95{
    animation-name: fadein;
    animation-duration: 50s;
    /* animation-delay: 5.5s; */
}

@keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
     opacity: 1;
    }
  }

#center-contain{
    display: flex;
    align-items: center;
    justify-content: center;
}

#center-img{
    margin-top: -10vh;
    width: 50%;
    height:50%;
    filter: invert();
    z-index: -1;
}

#img-contain{
    position: absolute;
    left: 80vw;
    bottom: 35vh;
    width: 80vw;
    display: grid;
    grid-auto-rows: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-columns: minmax(30px, auto);
 
}

.side-imgs{
    width: 10vw;
}

.side-imgs:hover{
    border-radius: 50px;
    transition: .001s ease-in-out;
}


.container {
    position: relative;
    width: 80vw;
  }

#side-img1{
    filter: drop-shadow(16px 16px 20px rgb(	58, 0, 0))  opacity(90%) invert(2%);;
    
}

#side-img2{
    filter: drop-shadow(16px 16px 20px rgb(	58, 0, 0))  opacity(70%) invert(2%);
    
}

#side-img3{
    filter: drop-shadow(16px 16px 20px rgb(	58, 0, 0))  opacity(50%) invert(2%);
    
}

#cursor{
    margin-bottom: -4vh;
    margin-left: -2vw;
    width:3vw;
}


/* page two */

#line-2{
    color:#8F8F8F;
    font-size: 75px;
}

#text-contain2{
    margin-left: 35vw;
    width: 75vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#word2-2{
    font-size: 100px;
}

#word4-2{
    font-size: 100px;
}

#word6-2{
    color: #6F6F6F;
    font-size: 150px;
    font-weight: bold;
    /* font-family: 'Baloo 2', cursive; */
    margin-left: -5%;
}

#link2{
    color: #6F6F6F;

}

#link2:hover{
   
    color: darkred;
}
/* #link2:visited{
    color: white;
} */

.animated-2{
    animation-name: rotating;
    animation-duration: 5s;
    animation-delay: 1s;
}

@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
  
    to {
        transform: rotate(360deg);
    }
  }

  .animated-2-4{
    animation-name: rotating2;
    animation-duration: 3s;
    animation-delay: 2s;
}

@keyframes rotating2 {
    from {
      transform: rotate(0deg);
    }
  
    to {
        transform: rotate(3600deg);
    }
  }

  .animated-2-6{
    animation-name: grow;
    animation-duration: 8s;
    animation-delay: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes grow {
    from {
        font-size: 150px;
        margin:-5%;
    }
  
    to {
        font-size: 250px;
        margin:-10%;
    }
  }

  .animated-2-12{
    animation-name: slideout;
    animation-duration: 8s;
    animation-delay: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slideout {
    from {
      margin-left: 0%;
      width: 100%;
    }
  
    to {
        margin-left: 300%;
        width: 200%;
    }
  }

/* page three */

#body-3{
    background-color: black;
}

#text-contain3{
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#line-3{
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.p3buttons{
color: black !important;
/* text-transform: uppercase; */
text-decoration: none !important;
background-color: #ffffff;
padding: 20px;
margin-top: 1vw;
border: 6px solid #6F6F6F !important;
display: inline-block;
transition: all 0.4s ease 0s;
font-size: 55px;
font-weight: bold;
font-family: 'Crimson Text', serif;
filter: drop-shadow(0 0 0.75rem darkred);
}

.p3buttons:hover {
    color: #ffffff !important;
    background: rgb(120, 0, 10);
    border-color:  rgb(120, 0, 10) !important;
    transition: all 0.4s ease 0s;
    }

#b2, #b4 {
    margin-left: 90%;
}

#b6, #b8{
    position: relative;
    margin-left: 94%;
}

#b1{
    animation-name: colorchange;
    animation-duration: 1s;
    animation-delay: 1s;
}

#b2{
    animation-name: colorchange;
    animation-duration: 1s;
    animation-delay: 1.5s;
}

#b3{
    animation-name: colorchange;
    animation-duration: 1s;
    animation-delay: 2s;
}

#b4{
    animation-name: colorchange;
    animation-duration: 1s;
    animation-delay: 2.5s;
}

#b5{
    animation-name: colorchange;
    animation-duration: 1s;
    animation-delay: 3s;
}

#b6{
    animation-name: colorchange;
    animation-duration: 1s;
    animation-delay: 3.5s;
}

#b7{
    animation-name: colorchange;
    animation-duration: 1s;
    animation-delay: 4s;
}

#b8{
    animation-name: colorchange;
    animation-duration: 1s;
    animation-delay: 4.5s;
}

#b9{
    animation-name: colorchange;
    animation-duration: 1s;
    animation-delay: 5s;
}

@keyframes colorchange {
    from {
        background-color: #ffffff;
        border-color: #6F6F6F;

    }
  
    to {
        background-color: rgb(120, 0, 10);
        border-color:  rgb(120, 0, 10);
    }
  }

#img-contain3{
      width: 30vw;
      margin-left: 35vw;
      margin-top: -100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

 #gif2, #gif3, #gif4, #gif5, #gif6, #gif7 {
     margin-top:-12vh;
 }
/* page four */

#text-contain4{
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:  #6F6F6F;
}

#line-4-1{
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 75px;
    font-weight: 600;
    margin:0;
}

#link4{
    color:  #6F6F6F;
}

#link4:hover{
    color: darkred;
}


.animated-4-1-1{
    animation-name: slidedown;
    animation-duration: 6s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.animated-4-2-1{
    animation-name: slidedown;
    animation-duration: 6s;
    animation-delay: 2.2s;
    animation-iteration-count: infinite;
}

.animated-4-3-1{
    animation-name: slidedown;
    animation-duration: 6s;
    animation-delay: 2.4s;
    animation-iteration-count: infinite;
}

.animated-4-4-1{
    animation-name: slidedown;
    animation-duration: 6s;
    animation-delay: 2.6s;
    animation-iteration-count: infinite;
}

.animated-4-5-1{
    animation-name: slidedown;
    animation-duration: 6s;
    animation-delay: 2.8s;
    animation-iteration-count: infinite;
}

.animated-4-6-1{
    animation-name: slidedown;
    animation-duration: 6s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

.animated-4-8-1{
    animation-name: slidedown;
    animation-duration: 6s;
    animation-delay: 3.2s;
    animation-iteration-count: infinite;
}

.animated-4-9-1{
    animation-name: slidedown;
    animation-duration: 6s;
    animation-delay: 3.4s;
    animation-iteration-count: infinite;
}

@keyframes slidedown {
    from {
      margin-top: 0%;
      height: 100%;
    }
  
    to {
        margin-top: 300%;
        height: 200%;
    }
  }



/* page five */

#body-5{
    background-image: url("assets/time-collage.jpg");
    backdrop-filter: brightness(40%);
}

#text-contain5{
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0vh;
    position: absolute;
    left: 15vw;
    bottom: -20vw;
    color: darkred;
   
 
}

#text-contain5-2{
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0vh;
    position: relative;
    left: -15vw;
    bottom: 35vh;
    color: darkred;

}

#line-5-2-2, #line-5-1-2, #link5, #link5-2 {
    opacity: 70%;
    color: darkred;
    font-size: 75px;
    font-weight: 650;
}

#link5:hover, #link5-2:hover {
    color: dimgray;
}

#line-5-1-1, #line-5-2-1{
    font-size: 75px;
    font-weight: 650;
    animation-name: blinking;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes blinking {
    from {
      opacity: 100%;
    }
  
    to {
        opacity: 0%;
    }
  }